<form method="post" action="{{ url_for('app_movies.view_movie') }}">
    <div>year</div>
    <fieldset class="row mb-3">
        {% for year in reliase_data %}
            {% if year.id in is_active_years %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="year_{{year.id}}" value="{{year}}" checked>
                    <label class="form-check-label" for="{{year}}">{{year}}</label>
                </div>
            {% else %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="year_{{year.id}}" value="{{year}}" >
                    <label class="form-check-label" for="{{year}}">{{year}}</label>
                </div>
            {% endif %}
        {% endfor %}
    </fieldset>

    <div>genre</div>
    <fieldset class="row mb-3">
        {% for genre in all_genres %}
            {% if genre.id in is_active_genre %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="genre_{{genre.id}}" value="{{genre}}" checked>
                    <label class="form-check-label" for="{{genre}}">{{genre.name}}</label>
                </div>
            {% else %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="genre_{{genre.id}}" value="{{genre}}" >
                    <label class="form-check-label" for="{{genre}}">{{genre.name}}</label>
                </div>
            {% endif %}
        {% endfor %}
    </fieldset>

    <div>director</div>
    <fieldset class="row mb-3">
        {% for director in all_directors %}
            {% if director.id in is_active_directors %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="director_{{director.id}}" value="{{director}}" checked>
                    <label class="form-check-label" for="{{director}}">{{director}}</label>
                </div>
            {% else %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="director_{{director.id}}" value="{{director}}" >
                    <label class="form-check-label" for="{{director}}">{{director}}</label>
                </div>
            {% endif %}
        {% endfor %}
    </fieldset>

    <button type="submit" class="btn btn-primary">Filtered</button>
</form>
