<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted gy-5 fixed-bottom">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
          <span>© 2023 Copyright</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
          <a href="https://github.com/Gatalist/flask-nix" class="me-4 text-reset">
              <i class="fab fa-github">github</i>
          </a>
      </div>
      <!-- Right -->
  </section>
  <!-- Section: Social media -->
</footer>
<!-- Footer -->