<div class="card-group">
    {% if movies.count() > 0 %}
        {% for movie in pages.items %}
            <div class="col-3 px-1 mt-2">
                <div class="card h-100">
                    <img src="{{movie.poster}}" width=250 height=300 class="card-img-top" alt="{{movie.title}}">
                    <div class="card-body">
                        <a href="#" class="card-link">
                            <h6 class="card-title"><b>{{movie.title}}</b></h6>
                        </a>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                rating: {{movie.rating}}
                            </li>
                            <li class="list-group-item">
                                reliase: {{movie.reliase}}
                            </li>
                            <li class="list-group-item">
                                {% if movie.director %}
                                    director: {{movie.director}},
                                {% else %}
                                    director: unknown
                                {% endif %}
                            </li>
                            <li class="list-group-item">
                                genres: {% for genre in movie.genres %} {{genre}}, {% endfor %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-10">
            <div class="d-flex justify-content-center" style='min-height:400px'>
                Not movies
            </div>
        </div>
    {% endif %}
</div>

