{% extends 'base.html' %}

{% block content %}

    <h1 class="gy-5">{{title}}</h1>

    <div class="row justify-content-center gy-4">
        <div class="col-2"></div>
        <div class="col-10">
            <nav class="navbar navbar-expand-lg navbar-light bg-light gy-5">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarScroll">
                        {% include 'include/sorted.html' %}

                        {% include 'include/search.html' %}
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="row gy-4">
        <div class="col-2">
            {% include 'include/filters.html' %}
        </div>

        <div class="col-10">
            {% include 'include/list_card.html' %}
        </div>
    </div>

    {% include 'include/pagination.html' %}

{% endblock content %}