{% extends 'base.html' %}

{% block title %}
<title>{{ title }}</title>
{% endblock title %}


{% block content %}

<h1>Sign In</h1>

<div class="row justify-content-center">
    <div class="col-4">
        <form action="{{ url_for('app_users.login') }}" method="post">
            {% for cat, msg in get_flashed_messages(True) %}
                {% if cat == 'success' %}
                    <div class="alert alert-success" role="alert">
                        <div class="form-text alert-success">{{msg}}</div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" placeholder="Your email">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" name="pwd-1" class="form-control" placeholder="Password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" name="remember" class="form-check-input">
                <label class="form-check-label">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


{% endblock content %}